    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">AppTour</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="map" style="padding-top: 7%">
            <agm-map 
            [latitude]="lat" 
            [longitude]="lng"
            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="false"
            (mapClick)="mapClicked($event)">

              <agm-marker 
              *ngFor="let m of markers; let i = index"
              (markerClick)="clickedMarker(m, i)"
              [latitude]="m.lat"
              [longitude]="m.lng"
              [markerDraggable]="m.draggable"
              (dragEnd)="markerDragEnd(m, $event)"
              >

            <agm-info-window>
              <strong>{{m.name}}</strong>
              <br>
              <a class="delete" (click)="removeMarker(m)">Delete</a>
            </agm-info-window>
            </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <br>
              <h3 class="panel-title">Add a new waypoint!</h3>
            </div>
            <div class="panel-body">
              <form (submit)="addMarker()">
                <div class="form-row">
                    <div class="form-group col-md-6">
                  <label>Location Name: </label>
                  <input type="text" class="form-control"  [(ngModel)]="markerName" name="markerName">
                    </div>
                    <div class="form-group col-md-6">
                  <label>Latitude: </label>
                  <input type="text" class="form-control"  [(ngModel)]="markerLat" name="markerLat">
                    </div>
                    <div class="form-group col-md-6">
                  <label>Longitude: </label>
                  <input type="text" class="form-control" [(ngModel)]="markerLng" name="markerLng">
                    </div>
                    <div class="form-group col-md-5">
                  <label>Draggable:</label>
                  <select class="form-control" [(ngModel)]="markerDraggable" name="markerDraggable">
                      <option value="no">No</option>
                      <option value="yes">Yes</option>
                  </select>
                    </div>
                    <div class="form-group col-md-1" style="margin-top: 2%">
                        <input class="btn btn-success" type="submit" value="Add!"> 
                    </div>  
              </div>                
              </form>
            </div>
          </div>
        </div>
      </div>

    </div><!-- /.container -->>
